<mat-toolbar class="mat-elevation-z3" color="primary">
<button
  type="button"
  aria-label="Toggle sidenav"
  mat-icon-button
  (click)="toggleMenu()">
  <mat-icon aria-label="Side nav toggle icon">{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
</button>
<span style="margin-left: 10px;"><a routerLink="/home" class="anchor-title">Material's Search App</a></span>

<span class="fill-remaining-space"></span>
<span><mat-slide-toggle (change)="onToggleChange()">Dark Mode</mat-slide-toggle></span>
<span *ngIf="!authService.isLoggedIn"><button mat-button routerLink="/login">Login</button></span>
<span *ngIf="authService.isLoggedIn"><button mat-button (click)="authService.logout()">Logout</button></span>
<span><button mat-button routerLink="/about">About</button></span>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      mode="side" opened>
    <!--<mat-toolbar>Menu</mat-toolbar>-->
    <mat-nav-list *ngFor="let content of navContents" class="nav-list">
        <a mat-list-item [routerLink]="['/', content.toLowerCase()]">
          <mat-icon color="primary" class="icon-margin">{{ content.toLowerCase() }}</mat-icon>
          <div>{{ content }}</div>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
