/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

.light-theme {
  @include angular-material-theme($theme);
}

$dark-primary: mat-palette($mat-pink, 700, 500, 900);
$dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
